/* .mediumBackground {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
} */

#range::-webkit-slider-runnable-track {
  width: 300px;
  height: 10px;
  background: linear-gradient(
    to right,
    blue 25%,
    green 25%,
    green 50%,
    yellow 50%,
    yellow 75%,
    red 75%,
    red 80%
  );
  border: none;
  border-radius: 3px;
}

#range::-moz-range-track {
  width: 300px;
  height: 10px;

  background: linear-gradient(
    to right,
    blue 25%,
    green 25%,
    green 50%,
    yellow 50%,
    yellow 75%,
    red 75%,
    red 100%
  );
  border: none;
  border-radius: 3px;
}

.main {
  width: 40%;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  /* opacity: 0.9; */
}

.mute :hover {
  color: black;
  cursor: pointer;
}
.navhover:hover {
  border-bottom: solid 2px red;
  background-color: rgb(240, 240, 240);
}

.healthRisks::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: "600px";
}
.ObesityReasons {
  width: 500px;
  height: 500px;
}
.instaHover:hover {
  color: rgb(145, 72, 142);
}
.fbHover:hover {
  color: #4267b2;
}
.twitterHover:hover {
  color: #00acee;
}
.youtubeHover:hover {
  color: red;
}

@media screen and (max-width: 768px) {
  .main {
    width: 50%;
  }
  .intro {
    order: 2;
  }
  .intro_img {
    order: 1;
  }
  .overweight_img {
    order: 1;
  }
  .overweight {
    order: 2;
  }
  .scroll {
    overflow-y: "auto";
    overflow-x: "hidden";
    max-height: "100%";
  }
  .ObesityReasons {
    width: 200px;
    height: 350px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Readex Pro", sans-serif;
}
